<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- kakao map -->

    <!-- 카카오 맵 관련 권한-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 갤러리 접근 권한 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>


    <!-- 카메라 접근 권한 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:name=".KakaoSdkLoginActivity"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApplicationScalp_care"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".kakaomap.CustomToastDialog"
            android:exported="false" />
        <activity
            android:name=".HospitalActivity"
            android:exported="false" />
        <activity
            android:name=".pagingActivity"
            android:exported="false" />
        <activity
            android:name=".information.InfoInsideActivity"
            android:exported="false" />
        <activity
            android:name=".KakaoSdkLoginActivity"
            android:exported="false" />
        <activity
            android:name=".care.BoardWriteActivity"
            android:exported="false" />
        <activity
            android:name=".care.BoardInsideActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- kakao -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao621eb78ca49236a6c13983164f426d08" />
            </intent-filter>
        </activity> <!-- kako map -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="621eb78ca49236a6c13983164f426d08" />
        <meta-data
            android:name="com.kakao.sdk.v2.apikey"
            android:value="9f80969872d8d710bcc5dfc4dd6603c4" />
    </application>

</manifest>